@{
    Layout = "_Layout";
    ViewBag.Title = "insertpage";
}
<html>
<body>
    <h3>Add a Recipe</h3>
    <p class="ARecipe">Enter ingredients and directions for a recipe.</p>
    @Html.Partial("AddRecipe")
    <hr />
    <p class="signature">&copy;Zoe Pare - 300972366 - COMP229</p>
</body>
</html>